section { padding-bottom: 30px; }
.textbox { padding: 0px 20px; }

.feed ul { list-style: none; margin: 0px; font-size: 80%; color: gray; }
.feed li { line-height: 125%; }

.feed, .flickrFeed, .box { background: white; padding: 0px 5px 5px; box-shadow: 3px 3px #888; }
.feed, .flickrFeed { margin-bottom: 10px; }

.flickrFeed ul { margin: 0px; text-align: center; }
.flickrFeed li { display: inline; }
.jam-medallion { text-align: center; }

.overview { font-size: 150%; line-height: 110%; padding: 10px; margin-bottom: 20px; }

body { background: url('/img/paisleyDiagTileSmall.png'); }

body { font-family: 'Droid Sans', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 25px; }
h1, h2, h3, h4 { font-family: 'Droid Serif', Georgia, Times, serif; }

#mimPic { padding-left: 15px; }
.figure { padding-left: 15px; }
.centered { text-align: center; }
