<div class="row">
  <div class="col-md-4">

    <div id="pocketRead" class="googleFeed feed">
      <h4><img src="img/pocket.png" alt="Pocket">
        <a href="http://getpocket.com/users/asterix77/feed/read"> Articles I've read</a></h4>
      <a href="http://getpocket.com/users/asterix77/feed/read"> Pocket: read</a>
    </div>

    <div id="pocketUnread" class="googleFeed feed">
      <h4><img src="img/pocket.png" alt="Pocket">
        <a href="http://getpocket.com/users/asterix77/feed/unread"> Articles I will read</a></h4>
      <a href="http://getpocket.com/users/asterix77/feed/unread"> Pocket: unread</a>
    </div>

    <div id="mendeley" class="zoteroFeed feed">
      <h4><img src="img/zotero.png" alt="Zotero">
        <a href="http://api.zotero.org/users/1252116/items/top?start=0&limit=10"> Papers I've cited</a></h4>
      <a href="http://api.zotero.org/users/1252116/items/top?start=0&limit=10">
        Zotero</a>
    </div>

    <iframe src="https://publons.com/author/649619/widget/embed/?width=360&height=460" width="100%" height="460" style="border: solid 1px #ddd;"></iframe>
    
  </div>


  <div class="col-md-4">

    <div id="tumblr" class="googleFeed feed">
      <h4><img src="img/tumblr.png" alt="Tumblr">
        <a href="http://asterix77.tumblr.com/"> Tumblr posts</a></h4>
      <a href="http://asterix77.tumblr.com/rss"> Tumblr</a>
    </div>

    <div id="pinboard" class="googleFeed feed">
      <h4><img src="img/pinboard.png" alt="Pinboard">
        <a href="https://pinboard.in/u:asterix77"> Bookmarked webpages</a></h4>
      <a href="https://feeds.pinboard.in/rss/secret:ff5028677079ee2a5b0b/u:asterix77/"> Delicious</a>
    </div>

    <div id="podcasts" class="lastfmFeed feed">
      <h4><img src="img/lastfm.png" alt="Last.fm">
        <a href="http://www.last.fm/user/asterix77pod"> Podcasts I've heard</a></h4>
      <a href="http://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=asterix77pod&api_key=84482b4e0a9ea0f0c31074b3dd3926da&format=json"> Last.fm Podcasts</a>
    </div>

    <div id="lastfm" class="lastfmFeed feed">
      <h4><img src="img/lastfm.png" alt="Last.fm">
        <a href="http://www.last.fm/user/mimasterix"> Songs I've heard</a></h4>
      <a href="http://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=mimasterix&api_key=84482b4e0a9ea0f0c31074b3dd3926da&format=json"> Last.fm</a>
    </div>

    <div id="libraryThing" class="googleFeed feed">
      <h4><img src="img/librarything.png" alt="Library Thing">
        <a href="http://www.librarything.com/catalog/asterix77"> Books I've read</a></h4>
      <a href="http://www.librarything.com/rss/recent/asterix77"> Library thing</a>
    </div>
      
  </div>


  <div class="col-md-4">

    <div id="instagram" class="text-center feed">
      <h4><img src="img/instagram.png" alt="Instagram">
        <a href="https://www.instagram.com/mimasterix/"> Photos</a></h4>
<!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/e436199aa2445dac9ec3aca26dda6e22.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
    </div>

    <div id="strava" class="text-center feed">
      <iframe height='454' width='350' frameborder='0' allowtransparency='true' scrolling='no' src='http://www.strava.com/athletes/152967/latest-rides/f31bec4ff6d1d1be5b0df5aec77e048716de3ec0'></iframe>
    </div>

    <div id="concertPhotos" class="flickrFeed">
      <h4><img src="img/flickr-9.png" alt="Flickr">
        <a href="http://www.flickr.com/photos/48241739@N00/sets/72157604522889991/"> Concert photos</a></h4>
      <a href="http://api.flickr.com/services/feeds/photoset.gne?set=72157604522889991&amp;nsid=48241739@N00"> Concert photos</a>
    </div>

    <div id="phonePhotos" class="flickrFeed">
      <h4><img src="img/flickr-9.png" alt="Flickr">
        <a href="http://www.flickr.com/photos/48241739@N00/sets/72157604518319708/"> Phone photos</a></h4>
      <a href="http://api.flickr.com/services/feeds/photoset.gne?set=72157604518319708&amp;nsid=48241739@N00"> Phone photos</a>
    </div>

  </div>
</div>
