<div class="navbar overview">
  <div class="navbar-inner">
    <ul class="nav">
      {% for menuPage in site.data.menu %}
        {% if page.url == menuPage.url %}
      <li class="active"><a href="{{ menuPage.url }}">{{ menuPage.title }}</a></li>
        {% else %}
      <li><a href="{{ menuPage.url }}">{{ menuPage.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul class="nav pull-right">
      <li><a href="mailto:mim@mr-pc.org">mim@mr-pc.org</a></li>
    </ul>
  </div>
</div>
